@inherits LayoutComponentBase

﻿<h3>MI ERROR</h3>
<h3>¡Oops! La página que estás buscando no se ha encontrado.
    Llamado desde NOTFOUND.
</h3>


<div class="alert alert-danger" role="alert">
    <h2>SIN barra lateral</h2>
</div>